<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/lugares/tabs/busqueda"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de lugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button color="primary" (click)="onReservarLugar()">
    Reservar
  </ion-button>

</ion-content>
