<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recetas"></ion-back-button>
    </ion-buttons>
    <ion-title>{{receta.titulo}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDeleteReceta()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img [src]="receta.imageUrl"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3>Ingredientes</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item *ngFor="let ingrediente of receta.ingredientes">
              {{ingrediente}}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
